%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{deps, [{gproc, "0.5.0"}]}.

{profiles, [{docs, [
                    {deps, [
                            {edown,
                             {git, "https://github.com/uwiger/edown.git",
                              {tag, "0.7"}}}
                           ]},

                    {edoc_opts, [{doclet, edown_doclet},
                    			 {app_default, "http://www.erlang.org/doc/man"},
                                 {top_level_readme,
                                  {"./README.md", "http://github.com/benoitc/econfig"}}]}
                   ]}]}.